<% if @workout.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@workout.errors.count, "error") %>
      prohibited this workout from being saved:
    </h2>

    <ul>
    <% @workout.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@workout) do |f| %>
    <label>Workout name:</label><br>
    <br>
    <%= f.text_field :name %><br>
    <%= f.label :catagory %>
    <%= f.collection_select :catagory_id, Catagory.all, :id, :name %>
    <%= f.submit %>
  <% end %>