<h1>Hi, <%= @user.name %></h1>
<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>

<%= link_to 'new workout', new_workout_path %>
<%= link_to 'new exercise', new_exercise_path %>
<%= link_to 'see exercises', exercises_path %>
<%= link_to 'see workouts', workouts_path %>
